header {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: black;
    width: 100%;
}

.head1 {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 10px
}

.finder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
    margin: 0;
   
}

.finder input {
    width: 47em;
    height: 45px;
}

.finder i {
    height: 49px;
    width: 70px;
    border: 1px solid orange;
    background-color: orange;
    border-radius: 0 5px 5px 0;
}

.finder select {

    border-radius: 5px 0 0 5px;
}

.head1 img {
    width: 150px;
    height: 50px;

}

.yazilar img,
.yazilar select {
    width: 40px;
    height: 20px;
    background-color: black;
    color: white;
    border: none;
}

.yazilar {
    display: flex;
    flex-direction: row;
    justify-content: center;

align-items: center;    gap: 18px;
    font-size: 10px;
    /* border: 3px solid rgb(255, 0, 0); */
    font-size: 10px;
}

.yazilarbacket>i {
    width: 20px;
    height: 20px;
    color: yellow;
}

.head2 {
    width: 100%;
    background-color: rgb(5, 37, 63);
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.head2 ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
    /* border: 1px solid black; */
    width: 600px;
    text-align: center;
    color: white;
}
.head2 li{
    padding: 4px;

}
.head2 li:hover{
    background-color: rgba(128, 128, 128, 0.952);
    border-radius: 24px;
   
}

.head2 i {
    /* border: 1px solid rgb(14, 22, 131); */
    height: 20px;
    margin: 15px 0 0 20px;
    color: white;
}

.minifoto {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}

.minifoto img {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    left: 40px;
    top: 50px;
    z-index: 2;
}

.ortafoto img {
    width: 700px;
    height: 400px;
    position: relative;
    top: 100px;
    /* border: 1px solid black; */
    position: relative;
    left: 0px;
    z-index: 1;
}

article {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    /* border: 1px solid rgb(255, 3, 3); */
}

.boldfont {
    /* border: 1px solid rebeccapurple; */
    position: relative;
    top: 40px;
}

.boldfont img {
    width: 70px;
    height: 30px;
}

.boldfont a {
    text-decoration: none;
    font-size: 15px
}
.dordqardas{
    /* border: 1px solid black; */
 width: 330px;
 height: 170px;
 display: flex;
 flex-wrap: wrap;
 gap: 15px;
 
}
.qardasbir{
    border: 1px solid black;
    width: 150px;
    height: 70px;
    float: left;
    border-radius: 15px;
}
.qardasbir:hover{
    background-color: rgba(128, 128, 128, 0.329);
    color: rgb(0, 0, 0);
}
.qardasiki:hover{
    background-color: rgba(128, 128, 128, 0.329);
    color: rgb(0, 0, 0);
}
.qardasuc:hover{
    background-color: rgba(128, 128, 128, 0.329);
    color: rgb(0, 0, 0);
}
.qardasdort:hover{
    background-color: rgba(10, 0, 0, 0.329);
    color: black;
}
.qardasiki{
    border: 1px solid black;
    width: 150px;
    height: 70px;
    border-radius: 15px;
    float: left;
}
.qardasuc{
    border: 1px solid black;
    width: 150px;
    height: 70px;
    border-radius: 15px;
    float: left;
}
.qardasdort{
    border: 1px solid black;
    width: 150px;
    height: 70px;
  
    border-radius: 15px;
float: left;
}
aside{
    border: 1px solid grey;
    border-radius: 20px;
    line-height: 5px;
    position: relative;
    top: 20px;
    height: 500px;
    left: 20px;
}
aside p,aside a{
    font-size: 10px;
    text-decoration: none;
}
.buttonbir{
    width: 200px;
    height: 30px;
    background-color: orange;
    border-radius: 20px;
    border: none;
    position: relative;
    top: 10px;
    left:20px;
}
.buttoniki{
    width: 200px;
    height: 30px;
    background-color: rgb(194, 130, 10);
    border-radius: 20px;
    border: none;
    position: relative;
    top: 20px;
    left:20px;
}
